@model IEnumerable<BataAppHR.Models.XstoreModel>
@{
    ViewData["Title"] = "Data Komisi Toko";
    var edpCode = ViewData["EdpCode"];
}

<table class="table table-striped" id="IndexTbl">
    <thead>
        <tr>
            <th>Num.</th>
            <th>
                EDP
            </th>
            <th>
                District
            </th>
            <th>
                Store Location
            </th>
            <th>
                Area
            </th>
            <th>
               Komisi RD
            </th>
            <th>
               Department Store Discount
            </th>
            <th>
                <label>Actions</label>
            </th>
        </tr>
    </thead>
    <tbody id="tbodyid">
        @{
            var i = 1;
        }
        @foreach (var dt in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.edp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.district)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.store_location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.area)

                </td>
                <td>
                    @if (dt.IS_PERC == "Y")
                    {
                        @Html.DisplayFor(modelItem => dt.RD_COMM_PERC)

                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => dt.RD_COMM)
                    }


                </td>
                <td>
                    @if (dt.IS_PERC_DEPT == "Y")
                    {
                        @Html.DisplayFor(modelItem => dt.DEPT_COMM_PERC)

                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => dt.DEPT_COMM)
                    }


                </td>
                <td>
                    <p>
                        <a asp-action="Edit" asp-route-id="@dt.edp" class="btn btn-sm btn-dark">Edit</a>
                    </p>
                    @*<p>
                            <a asp-action="Delete" asp-route-id="@dt.edp" class="btn btn-primary btn-sm">Delete</a>
                        </p>*@
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(function () {
            $('#IndexTbl').DataTable({
                "sPaginationType": "full_numbers",
                "bJQueryUI": true,
                "bProcessing": true,
                "aLengthMenu": [[10, 50, 100, 200, -1], ["10", "50", "100", "200", "All"]],
                "stateSave": true,
                "oSelectorOpts": { filter: 'applied' },
                dom: "<'row'<'col-sm-12'B>>" +
                    "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [
                    {
                        extend: 'excel',
                        text: 'Export to Excel',
                        title: 'XstoreList',
                        exportOptions: {
                            columns: ':visible'
                            //,modifier: {
                            //    page: 'current'
                            //}
                        }
                    }
                ],
                "columnDefs": [{
                    "className": "dt-center",
                    "targets": [0, 1]
                }],
            });
        });
    </script>
}

