@model OnPOS.Models.StockEnablerView
@{
    ViewData["Title"] = "Form Pengaturan Barang";

}

<style>
    #myPopup {
        display: none;
        position: absolute;
        top: 50px;
        right: 50%;
        background-color: blue;
        height: 100px;
        width: 100px;
    }

    #myExit {
        position: absolute;
        right: 0px;
        text-align: right;
        color: white;
        background-color: red;
    }

    .btn-primary2 {
        color: #ffffff;
        background-color: #000000;
        border-color: #000000 !important
    }

        .btn-primary2:hover {
            color: #fff;
            background-color: #be0000;
            border-color: #be0000 !important
        }

    input.largerCheckbox {
        width: 20px;
        height: 20px;
    }
</style>
<p>
</p>
<div class="container" id="bootstrap-overrides">
    <div class="row">
        <div class="col-sm align-self-end">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#bystore" role="tab" aria-controls="bystore" aria-selected="true">Setting berdasarkan Toko</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#byitem" role="tab" aria-controls="byitem" aria-selected="false">Setting berdasarkan barang</a>
                </li>
              
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane show active" id="bystore" role="tabpanel" aria-labelledby="bystore-tab" style="background-color:white;">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <table class="table table-striped" id="StoreTbl">
                                    <thead>
                                        <tr>
                                            <th>Num.</th>
                                            <th>
                                                Store Code
                                            </th>
                                            <th>
                                                Store Name
                                            </th>
                                            <th>
                                                Store City
                                            </th>
                                            <th>
                                                Store Province
                                            </th>
                                            <th>
                                                Store Address
                                            </th>

                                            <th>
                                                <label>Actions</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyid">
                                        @{
                                            var i = 1;
                                        }
                                        @foreach (var dt in Model.dataStore)
                                        {
                                            <tr>
                                                <td>
                                                    @i
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => dt.id)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => dt.STORE_NAME)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => dt.STORE_CITY)
                                                </td>
                                                <td>

                                                    @Html.DisplayFor(modelItem => dt.STORE_CITY)

                                                </td>
                                                <td>

                                                    @Html.DisplayFor(modelItem => dt.STORE_ADDRESS)

                                                </td>


                                                <td>
                                                    <div>
                                                        <a asp-action="EditItem" asp-route-id="@dt.id" class="btn btn-sm btn-dark">Edit Items List</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>

                            </div>
                          
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="byitem" role="tabpanel" aria-labelledby="byitem-tab" style="background-color:white;">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <table class="table table-striped" id="ItemTbl">
                                    <thead>
                                        <tr>
                                            <th>Num.</th>
                                            <th>
                                                Item Id
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Category
                                            </th>
                                            <th>
                                                Sub Category
                                            </th>
                                            <th>
                                                Brand
                                            </th>

                                            <th>
                                                <label>Actions</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyid">
                                        @{
                                            var x = 1;
                                        }
                                        @foreach (var dt in Model.dataItems)
                                        {
                                            <tr>
                                                <td>
                                                    @x
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => dt.itemid)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => dt.itemdescription)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => dt.category)
                                                </td>
                                                <td>

                                                    @Html.DisplayFor(modelItem => dt.subcategory)

                                                </td>
                                                <td>

                                                    @Html.DisplayFor(modelItem => dt.brand)

                                                </td>

                                                <td>
                                                    <div>
                                                        <a asp-action="EditStore" asp-route-id="@dt.id" class="btn btn-sm btn-dark">Edit Store</a>

                                                    </div>
                                                </td>
                                            </tr>
                                            x++;
                                        }
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br />

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#ItemTbl').DataTable();
            $('#StoreTbl').DataTable();

        });
    </script>
}

