@model OnPOS.Models.dbSalesHdr
@{
    ViewData["Title"] = "POS";
    var errmsg = "";
    // if (!string.IsNullOrEmpty(Model.syserr))
    // {
    //     errmsg = Model.syserr;
    // }
}

@* <h1>POS</h1>
<h3>Sales Entry</h3> *@
<hr />

<form asp-action="Create" id="formcreate">
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <h3 class="control-label">TOTAL</h3>
                    </div>

                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <input asp-for="trans_amount" class="form-control" style="text-align:right;font-weight:bolder;font-size:x-large;" readonly/>
                    </div>

                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <h3 class="control-label">User:</h3>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <input asp-for="username" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <table class="table table-striped" id="sizetbl">
                        <thead>
                            <tr>
                                <th>
                                    s33
                                </th>
                                <th>
                                    s34
                                </th>
                                <th>
                                    s35
                                </th>
                                <th>
                                    s36
                                </th>
                                <th>
                                    s37
                                </th>
                                <th>
                                    s38
                                </th>
                                <th>
                                    s39
                                </th>
                                <th>
                                    s40
                                </th>
                                <th>
                                    s41
                                </th>
                                <th>
                                    s42
                                </th>
                                <th>
                                    s43
                                </th>
                                <th>
                                    s44
                                </th>
                                <th>
                                    s45
                                </th>
                                <th>
                                    s46
                                </th>
                                <th>
                                    stock
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbodyid1">
                            <tr>
                                <td>
                                    <input asp-for="s33" class="form-control" style="width:60px;font-size:x-small;font-weight:bolder" readonly/>
                                </td>
                                <td>
                                    <input asp-for="s34" class="form-control" style="width:60px;font-size:x-small;font-weight:bolder" readonly />

                                </td>
                                <td>
                                    <input asp-for="s35" class="form-control" style="width:60px;font-size:x-small;font-weight:bolder" readonly />

                                </td>
                                <td>
                                    <input asp-for="s36" class="form-control" style="width:60px;font-size:x-small;font-weight:bolder" readonly />

                                </td>
                                <td>
                                    <input asp-for="s37" class="form-control" style="width:60px;font-size:xx-small;font-weight:bolder" readonly />

                                </td>
                                <td>
                                    <input asp-for="s38" class="form-control" style="width:60px;font-size:xx-small;font-weight:bolder" readonly />

                                </td>
                                <td>
                                    <input asp-for="s39" class="form-control" style="width:60px;font-size:xx-small;font-weight:bolder" readonly />

                                </td>
                                <td>
                                    <input asp-for="s40" class="form-control" style="width:60px;font-size:xx-small;font-weight:bolder" readonly />

                                </td>
                                <td>
                                    <input asp-for="s41" class="form-control" style="width:60px;font-size:xx-small;font-weight:bolder" readonly />

                                </td>
                                <td>
                                    <input asp-for="s42" class="form-control" style="width:60px;font-size:xx-small;font-weight:bolder" readonly />

                                </td>
                                <td>
                                    <input asp-for="s43" class="form-control" style="width:60px;font-size:xx-small;font-weight:bolder" readonly />

                                </td>
                                <td>
                                    <input asp-for="s44" class="form-control" style="width:60px;font-size:xx-small;font-weight:bolder" readonly />

                                </td>
                                <td>
                                    <input asp-for="s45" class="form-control" style="width:60px;font-size:xx-small;font-weight:bolder" readonly />

                                </td>
                                <td>
                                    <input asp-for="s46" class="form-control" style="width:60px;font-size:xx-small;font-weight:bolder" readonly />

                                </td>
                                <td>
                                    <input asp-for="totalstock" class="form-control" style="width:60px;font-size:xx-small;font-weight:bolder" readonly />

                                </td>
                            </tr>
                         
                        </tbody>
                    </table>

                </div>

            </div>
            <div class="row">
                <div class="col-sm">
                    <input type="button" value="remove" id="removebtn" class="btn btn-red" />

                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <table class="table table-striped" id="POSTbl">
                        <thead>
                            <tr>
                                
                                <th>
                                    Article
                                </th>
                                <th>
                                    Size
                                </th>
                             
                                <th>
                                    Price
                                </th>
                                <th>
                                    Pairs
                                </th>
                                <th>
                                    Discount
                                </th>
                                <th>
                                    SubTotal
                                </th>
                              
                            </tr>
                        </thead>
                        <tbody id="tbodyid1">

                        </tbody>
                    </table>

                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="control-label">Crew:</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.salesid, new SelectList(Model.ddStaff, "id", "name"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="control-label">Invoice</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <input asp-for="invoice" class="form-control" readonly />
                                <input asp-for="Store_id" class="form-control" type="hidden" />

                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="control-label">Article</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <input asp-for="scanitem" class="form-control" maxlength="16" />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="control-label">Qty</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <input asp-for="scanqty" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="control-label">Price</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <input asp-for="scanprice" class="form-control" readonly/>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="control-label">Discount</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <input asp-for="scandiscount" class="form-control" readonly/>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="control-label">PaymentType</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.transtype, new List<SelectListItem>
                                {
                                new SelectListItem{ Text="Tunai", Value = "T" },
                                new SelectListItem{ Text="Debit Card", Value = "DC" },
                                new SelectListItem{ Text="Credit Card", Value = "CC" },
                                new SelectListItem{ Text="QRIS", Value = "QR" }

                                }, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="control-label">Card No</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <input asp-for="cardnum" class="form-control" />

                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark">Exit - Esc</a>

            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <input type="button" onclick="openrecap()" value="Recap - F2" class="btn btn-red" />

            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <input type="button" value="BestS - F4" onclick="alertfirst()" class="btn btn-red" />

            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <input type="button" value="WorstS - F6" onclick="alertfirst()" class="btn btn-red" />

            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <input type="button" value="Payment - F9" onclick="alertfirst()" class="btn btn-red" />

            </div>
        </div>
    </div>

    
</form>

<div id="dialog" title="Recap">
    <center>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <label class="form-control">Store Code:</label>
                </div>
                <div class="col-sm">
                    <label class="form-control">@Model.storedata.id</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <label class="form-control">Address:</label>
                </div>
                <div class="col-sm">
                    <label class="form-control">@Model.storedata.STORE_ADDRESS</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <label class="form-control">Date:</label>
                </div>
                <div class="col-sm">
                    <label class="form-control">@DateTime.Now.ToString("dd/MM/yyyy") to @DateTime.Now.ToString("dd/MM/yyyy")</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <label class="form-control">Time:</label>
                </div>
                <div class="col-sm">
                    <label class="form-control">08:00:00 to @DateTime.Now.ToString("HH:mm:ss")</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <table class="table table-striped" id="POSTbl">
                        <thead>
                            <tr>

                                <th>
                                    Category
                                </th>
                                <th>
                                    Quantity
                                </th>

                                <th>
                                    Amount
                                </th>
                               

                            </tr>
                        </thead>
                        <tbody id="tbodyid1">
                            <tr>
                                <td> Footwear</td>
                                <td> 100 </td>
                                <td> 50.000.000</td>
                            </tr>
                            <tr>
                                <td> Sandals</td>
                                <td> 80 </td>
                                <td> 20.000.000</td>
                            </tr>
                            <tr>
                                <td> Apparel</td>
                                <td> 100 </td>
                                <td> 45.000.000</td>
                            </tr>
                            <tr>
                                <td> Equipment</td>
                                <td> 70 </td>
                                <td> 30.000.000</td>
                            </tr>
                            <tr>
                                <td> Shock</td>
                                <td> 150 </td>
                                <td> 50.000.000</td>
                            </tr>
                            <tr>
                                <td> Total</td>
                                <td> 500 </td>
                                <td> 195.000.000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </center>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var POSTbl;

        function Expand(obj) {
            if (!obj.savesize) obj.savesize = obj.size;
            obj.size = Math.max(obj.savesize, obj.value.length);
        }

        function onKeyDown(e) {
            var x = e.keyCode;
            if (x == 27) {
          
                window.location.href = '/Home/index';
            }
            if (x == 113) {
                openrecap();
            }
            if (x == 115) {

            }
            if (x == 117) { 
            }
            if (x == 120) {

            }
            // if (x == 118) {
            //     console.log('Your pressed Fn+F7');
            // }
        }
        function openrecap() {
            $("#dialog").dialog("open");

        }
        $(document).ready(function () {
            document.addEventListener("keydown", onKeyDown, false);
            $("#salesid").select2({
                placeholder: "Select sales",
                initSelection: function (element, callback) {
                },
                dropdownAutoWidth: true,
                width: 'auto'
            });
            $("#salesid").val(null);
            $("#salesid").trigger('change');
            $("#dialog").dialog({
                width: 1080,
                height: 720,
                modal: true,
                resizable: false,
                close: function () {
                    //var audio = $("#player");
                    //audio[0].pause();
                }
            });
            $("#dialog").dialog("close");
            POSTbl = $('#POSTbl').DataTable({
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
                "bAutoWidth": false
            });
            $("#scanitem").keyup(function () {
                if ($("#scanitem").val().length == 16) {
                    var itm = $("#scanitem").val();
                    var store = $("#Store_id").val();
                    $.ajax({
                        url: '@Url.Action("getstockinfo", "POS")',
                        type: "GET",
                        data: { scanitem: itm, Store_id: store },
                        //startDate: mFromDate, endDate: mToDate1
                        dataType: 'json',
                        success: function (data) {
                            $("#s33").val(data.s33);
                            $("#s34").val(data.s34);
                            $("#s35").val(data.s35);
                            $("#s36").val(data.s36);
                            $("#s37").val(data.s37);
                            $("#s38").val(data.s38);
                            $("#s39").val(data.s39);
                            $("#s40").val(data.s40);
                            $("#s41").val(data.s41);
                            $("#s42").val(data.s42);
                            $("#s43").val(data.s43);
                            $("#s44").val(data.s44);
                            $("#s45").val(data.s45);
                            $("#s46").val(data.s46);
                            $("#totalstock").val(data.current_stock);

                           
                        },
                        error: function () {

                        }

                    });

                } else {
                    $("#s33").val(0);
                    $("#s34").val(0);
                    $("#s35").val(0);
                    $("#s36").val(0);
                    $("#s37").val(0);
                    $("#s38").val(0);
                    $("#s39").val(0);
                    $("#s40").val(0);
                    $("#s41").val(0);
                    $("#s42").val(0);
                    $("#s43").val(0);
                    $("#s44").val(0);
                    $("#s45").val(0);
                    $("#s46").val(0);
                    $("#totalstock").val(0);
                }


            });
            $("#scanqty").keypress(function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    var skucheck = $("#scanitem").val().trim();
                    if (skucheck != null) {
                        if (skucheck != "") {
                            $.ajax({
                                url: '@Url.Action("validateitems", "POS")',
                                type: "GET",
                                data: { scanitem: skucheck },
                                //startDate: mFromDate, endDate: mToDate1
                                dataType: 'json',
                                success: function (data) {
                                    console.log(data);
                                    var article = skucheck.substring(0, 14);
                                    var sz = skucheck.slice(-2);
                                    var inputqty = $("#scanqty").val();
                                    var id = "s" + sz;
                                    var valdest = $("#" + id).val();
                                    debugger;
                                    if (data != null) {
                                        if (parseInt(inputqty) <= parseInt(valdest)) {
                                            var flagexist = 0;
                                            var datas = POSTbl.rows().data();
                                            var indexes = POSTbl
                                                .rows()
                                                .indexes()
                                                .filter(function (value, index) {
                                                    return $("#scanitem").val().trim() === POSTbl.row(value).data()[0] + POSTbl.row(value).data()[1];
                                                });
                                            if (indexes[0] != null) {
                                                // Get the row for indexes[0]
                                                var rows = POSTbl.row(indexes[0]);
                                                var calculates = parseInt(data.price1) * parseInt(inputqty);

                                                var disctype = data.disctype;
                                                var discounttotal = 0;

                                                if (disctype != null) {
                                                    if (disctype == "percentage") {
                                                        discounttotal = Math.round(((calculates * data.discperc) / 100));

                                                        calculates = Math.round(calculates - discounttotal);
                                                    } else {
                                                        discounttotal = data.discamt;
                                                        calculates = calculates - data.discamt;
                                                    }
                                                }
                                                // Get the data for the row
                                                var dts = rows.data();
                                                var totalinv = parseInt($("#trans_amount").val());
                                                var totalinvnew = (totalinv - parseInt(dts[5])) + calculates;
                                                $("#trans_amount").val(totalinvnew);

                                                // Change the position to `Engineer`
                                                dts[3] = inputqty;
                                                dts[4] = discounttotal;
                                                dts[5] = calculates;
                                                $("#scanprice").val(calculates);
                                                $("#scandiscount").val(discounttotal);


                                                // Update the table data and redraw the table
                                                rows.data(dts).draw();
                                               
                                            } else {
                                                // var EditDelete = '<a onclick="removerow('+skucheck+')" class="btn btn-sm btn-dark">Delete</a ></td>';
                                                var totalinv = parseInt($("#trans_amount").val())
                                                ;
                                                var calculate = parseInt(data.price1) * parseInt(inputqty);

                                                var disctype = data.disctype;
                                                var discounttotal = 0;
                                                if (disctype != null) {
                                                    if (disctype == "percentage") {
                                                        discounttotal = Math.round(((calculate * data.discperc) / 100));
                                                        calculate = Math.round(calculate - discounttotal);
                                                    } else {
                                                        discounttotal = data.discamt;
                                                        calculate = calculate - data.discamt;
                                                    }
                                                }
                                                POSTbl.row.add([article, sz, data.price1, inputqty, discounttotal, calculate]);
                                                POSTbl.draw();
                                                $("#trans_amount").val(totalinv + calculate);
                                                $("#scanprice").val(calculate);
                                                $("#scandiscount").val(discounttotal);
                                            }
                                            


                                        } else {
                                            alert("not enough quantity");
                                        }
                                    } else {
                                        alert("incorrect article");
                                    }
                                },
                                error: function () {

                                }

                            });

                        }else{
                            alert("empty article");
                        }
                    } else {
                        alert("empty article")
                    }
                }


            });
            $('#POSTbl tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    POSTbl.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
            $('#removebtn').click(function () {                
                var totalinv = parseInt($("#trans_amount").val());
                var totalinvnew = (totalinv - parseInt(POSTbl.row('.selected').data()[5]));
                $("#trans_amount").val(totalinvnew);
                POSTbl.row('.selected').remove().draw(false);
            });
        });
        $('#category').on('change', function () {
            var value = $("#category").val();
            if (value != null) {
                $("#subcategory").empty()
                $.ajax({
                    url: '@Url.Action("getsubcatlist", "ItemMaster")',
                    type: "GET",
                    data: { cat: value },
                    //startDate: mFromDate, endDate: mToDate1
                    dataType: 'json',
                    success: function (data) {
                        debugger;
                        if (data.length != 0) {
                            //$("#tbodyiddtl").empty();
                            $("#subcategory").prop('disabled', false);

                            var x = 1;
                            data.forEach(function (item) { //insert rows
                                console.log(item);
                                var newOption = new Option(item.description, item.subCategory, true, true);
                                // Append it to the select
                                // $('#subcategory').append(newOption).trigger('change');
                                $('#subcategory').append(newOption);

                                // $("#subcategory").val(null);
                                // $("#subcategory").trigger('change');
                                x++
                            })




                        } else {
                            $("#subcategory").prop('disabled', true);

                        }

                    },
                    error: function () {

                    }
                });


            }
        });
        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        function alertfirst() {
            if (confirm("Are you sure saving data?")) {
                $('#formcreate').submit();
            } else {
                return false;
            }
        }
        // function removerow(sku) {
        //     if (confirm("remove item: "+sku+"?")) {
        //         var indexes = POSTbl
        //             .rows()
        //             .indexes()
        //             .filter(function (value, index) {
        //                 return sku.trim() === POSTbl.row(value).data()[0] + POSTbl.row(value).data()[1];
        //             });
        //         var rows = POSTbl.row(indexes[0]);
        //         // Get the data for the row
        //         var dts = rows.data();

        //         POSTbl.row(dts).remove().draw();
        //     } else {
        //         return false;
        //     } 

        // }
    </script>
}
