@model IEnumerable<BataAppHR.Models.ReportTraining>
@{
    ViewData["Title"] = "Report Data Training";
    var isAdmin = User.IsInRole("Admin").ToString();
}

<style>
    #myPopup {
        display: none;
        position: absolute;
        top: 50px;
        right: 50%;
        background-color: blue;
        height: 100px;
        width: 100px;
    }

    #myExit {
        position: absolute;
        right: 0px;
        text-align: right;
        color: white;
        background-color: red;
    }

    .btn-primary2 {
        color: #ffffff;
        background-color: #000000;
        border-color: #000000 !important
    }

        .btn-primary2:hover {
            color: #fff;
            background-color: #be0000;
            border-color: #be0000 !important
        }
</style>
<p>
</p>
<div class="container" id="bootstrap-overrides" style="display:none;">
    <div class="row">
        <div class="col-sm">
            @*<form asp-action="Index" id="ReloadIndex" method="post">

                </form>*@
            @*@if (User.IsInRole("Admin"))
                {
                    <label><b>Pilih/ketik EDP untuk melihat data: </b></label>
                    <select id="EdpCodeList" name="EdpCodeList"></select>
                    <br />
                    <br />
                    <input type="button" value="Cari Data" onclick="PopulateTable()" class="btn btn-dark" />
                }*@
            @*<a asp-controller="FormVaksin" asp-action="Index" class="btn btn-dark" id="ReloadIndex"> Submit</a>*@
        </div>

    </div>
</div>
<br />
<table class="table table-striped" id="IndexTbl">
    <thead>
        <tr>
            <th>Num.</th>
            <th>Type.</th>
            <th>
                Training Program
            </th>
            <th>
                EDP
            </th>
            <th>
                Store Name
            </th>
            <th>
                Genesis
            </th>
            <th>
                Periode
            </th>
            <th>
                Week
            </th>
            <th>
                Date
            </th>
            <th>
                Participants
            </th>
            <th>
                Trainer
            </th>
            <th>
                No Of Participants
            </th>
            <th>
                Hours
            </th>
            <th>
                Total Hours
            </th>
        </tr>
    </thead>
    <tbody id="tbodyid">
        @{
            var i = 1;
        }
        @foreach (var dt in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.TrainingProgram)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.EDP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.STORE_LOCATION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.Genesis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.Periode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.week)
                </td>
                <td>
                    @if (dt.Date != null)
                    {
                        @dt.Date.Value.ToString("dd/MM/yyyy")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.participants)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.trainer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.NoParticipant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.TotalHours)
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
    $(document).ready(function () {
        $('#IndexTbl').DataTable({
            "sPaginationType": "full_numbers",
            "bJQueryUI": true,
            "bProcessing": true,
            "aLengthMenu": [[10, 50, 100, 200, -1], ["10", "50", "100", "200", "All"]],
            "stateSave": true,
            "oSelectorOpts": { filter: 'applied' },
            dom: "<'row'<'col-sm-12'B>>" +
                "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [
                {
                    extend: 'excel',
                    text: 'Export to Excel',
                    title: 'TrainingTable',
                    exportOptions: {
                        columns: ':visible'
                        //,modifier: {
                        //    page: 'current'
                        //}
                    }
                }
            ],
            "columnDefs": [{
                "className": "dt-center",
                "targets": [0, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12]
            }],
        });
            @*$.ajax({
                type: "GET",
                url: "/FormVaksin/getdata",
                data: "{}",
                success: function (data) {
                    debugger;
                    var s = '';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].edp + '">' + data[i].edp + ' - ' + data[i].store_location +'</option>';
                    }
                    $("#EdpCodeList").html(s);
                    $("#EdpCodeList").select2({ placeholder: "Select Edp Code" });
                    var edpCode = "@edpCode";
                    debugger;
                    if (edpCode != "0") {
                        $("#EdpCodeList").val(edpCode).change();
                    }
                }
            });*@
        });
        //$('#EdpCodeList').on('change', function () {
        //    var value = $("#EdpCodeList").val();
        //    $('#ReloadIndex').attr('asp-route-id', value);
        //});
    @*function PopulateTable() {
        $("#tbodyid").empty();
        var value = $("#EdpCodeList").val();
        if (value != null && value != "") {

            $.ajax({
                url: '@Url.Action("getTbl", "FormVaksin")',
                type: "GET",
                data: { id: value },
                //startDate: mFromDate, endDate: mToDate1
                dataType: 'json',
                success: function (data) {
                    debugger;
                    var tr;
                    //Append each row to html table
                    for (var i = 0; i < data.length; i++) {
                        debugger;
                        var number = parseInt(i) + 1;
                        tr = $('<tr/>');
                        tr.append("<td>" + number + "</td>");
                        tr.append("<td>" + data[i].sS_CODE + "</td>");
                        tr.append("<td>" + data[i].namA_SS + "</td>");
                        tr.append("<td>" + data[i].ktp + "</td>");
                        tr.append("<td>" + data[i].hP_SS + "</td>");
                        if (data[i].vaksiN1 == "Y") {
                            tr.append("<td><input type='checkbox' name='vaksin1' checked disabled></td>");
                        } else {
                            tr.append("<td><input type='checkbox' name='vaksin1' disabled></td>");
                        }
                        if (data[i].vaksiN2 == "Y") {
                            tr.append("<td><input type='checkbox' name='vaksin2' checked disabled></td>");
                        } else {
                            tr.append("<td><input type='checkbox' name='vaksin2' disabled></td>");
                        }
                        $('#IndexTbl').append(tr);
                       /* location.reload();*/
                    }
                },
                error: function () {

                }

            });
        } else {
            alert('Please fill EDP Code');
        }

    }*@
    </script>
}

