@model BataAppHR.Models.CustomerMenuCls

@{
    ViewData["Title"] = "Customer Menu";
    var totalcreditnote = ViewBag.CreditVal;
}
<p>
    Hi <b>@User.Identity.Name!</b>
</p>
<br />
<table>
    <tr>
        <td>
            <h3>Credit Note: Rp @totalcreditnote </h3>
        </td>
        <td>
            <a href="#/" onclick="openpopup(this,'')" id="showCreditNote" class="btn btn-sm btn-dark">Lihat Detil</a>

        </td>
    </tr>
</table>
<br />
<h3>Order Tracking </h3>
<br />
<table class="table table-striped" id="tblTracking">
    <thead>
        <tr>
            <th>Num.</th>
            <th>
                Inv
            </th>
            <th>
                Status
            </th>
            <th>
                Update Date
            </th>
        </tr>
    </thead>
    <tbody id="tbodyid">
        @{
            var x = 1;
        }
        @foreach (var dt in Model.trackingData)
        {
            <tr>
                <td>
                    @x
                </td>
                <td>
                    @if (dt.status == "waiting for approval")
                    {
                        <a href="#/" onclick="openpopupDetailbyid('@dt.invoice')" id="showDtl" class="btn btn-sm btn-dark">@dt.invoice</a>

                    }
                    else
                    {
                        <a href="#/" onclick="openpopupDetail('@dt.invoice')" id="showDtl" class="btn btn-sm btn-dark">@dt.invoice</a>

                    }
                </td>
                <td>
                    @if (dt.status == "On Delivery")
                    {
                        <a href="#/" onclick="openpopupTracking('@dt.invoice')" id="showTracking" class="btn btn-sm btn-dark">@dt.status</a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => dt.status)

                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.update_date)
                </td>


            </tr>
            x++;
        }
    </tbody>
</table>

<div id="dialog" title="Detail Credit Note">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="col">
                        <table class="table table-striped" id="IndexTbl">
                            <thead>
                                <tr>
                                    <th>Num.</th>
                                    <th>
                                        Inv
                                    </th>
                                    <th>
                                        Article
                                    </th>
                                    <th>
                                        qty
                                    </th>
                                    <th>
                                        price
                                    </th>

                                    <th>
                                        Size 1
                                    </th>
                                    <th>
                                        Size 2
                                    </th>
                                    <th>
                                        Size 3
                                    </th>
                                    <th>
                                        Size 4
                                    </th>
                                    <th>
                                        Size 5
                                    </th>
                                    <th>
                                        Size 6
                                    </th>
                                    <th>
                                        Size 7
                                    </th>
                                    <th>
                                        Size 8
                                    </th>
                                    <th>
                                        Size 9
                                    </th>
                                    <th>
                                        Size 10
                                    </th>
                                    <th>
                                        Size 11
                                    </th>
                                    <th>
                                        Size 12
                                    </th>
                                    <th>
                                        Size 13
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="tbodyid">
                                @{
                                    var i = 1;
                                }
                                @foreach (var dt in Model.orderList)
                                {
                                    <tr>
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.picking_no)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.article)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.qty)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.creditval)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.Size_1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.Size_2)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.Size_3)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.Size_4)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.Size_5)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.Size_6)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.Size_7)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.Size_8)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.Size_9)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.Size_10)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.Size_11)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.Size_12)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dt.Size_13)
                                        </td>

                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<div id="dialogOrder" title="Detail order">
    <center>
        <table class="table table-striped" id="orderTbl">
            <thead>
                <tr>
                    <th>Num.</th>
                    <th>
                        Inv
                    </th>
                    <th>
                        Article
                    </th>
                    <th>
                        qty
                    </th>
                    <th>
                        price
                    </th>

                    <th>
                        Size 1
                    </th>
                    <th>
                        Size 2
                    </th>
                    <th>
                        Size 3
                    </th>
                    <th>
                        Size 4
                    </th>
                    <th>
                        Size 5
                    </th>
                    <th>
                        Size 6
                    </th>
                    <th>
                        Size 7
                    </th>
                    <th>
                        Size 8
                    </th>
                    <th>
                        Size 9
                    </th>
                    <th>
                        Size 10
                    </th>
                    <th>
                        Size 11
                    </th>
                    <th>
                        Size 12
                    </th>
                    <th>
                        Size 13
                    </th>

                </tr>
            </thead>
            <tbody id="tbodyiddtl">
            </tbody>
        </table>
    </center>
</div>
<div id="dialogTracking" title="Tracking">
    <center>
        <table class="table table-striped" id="trackingTbl">
            <thead>
                <tr>
                    <th>Num.</th>
                    <th>
                        Inv
                    </th>
                    <th>
                        Store
                    </th>
                    <th>
                        dus
                    </th>
                    <th>
                        pairs
                    </th>

                    <th>
                        value
                    </th>
                    <th>
                        SIK
                    </th>
                    <th>
                       No Truck
                    </th>
                    <th>
                        Driver
                    </th>
                    <th>
                        date
                    </th>
                    <th>
                       time
                    </th>
                  
                </tr>
            </thead>
            <tbody id="tbodyiddtl2">
            </tbody>
        </table>
    </center>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
        var dtltbls2;
    var dtltbls3;
        $(document).ready(function () {
            $('#IndexTbl').DataTable({
                stateSave: true,
            });
            $('#tblTracking').DataTable({
                stateSave: true,
            });
            $("#dialog").dialog({
                width: 1200,
                height: 520,
                modal: true,
                resizable: false,
                close: function () {
                    //var audio = $("#player");
                    //audio[0].pause();
                }
            });
            $("#dialog").dialog("close");
            $("#dialogOrder").dialog({
                width: 1200,
                height: 520,
                modal: true,
                resizable: false,
                close: function () {
                    //var audio = $("#player");
                    //audio[0].pause();
                }
            });
            $("#dialogOrder").dialog("close");
            $("#dialogTracking").dialog({
                width: 1200,
                height: 520,
                modal: true,
                resizable: false,
                close: function () {
                    //var audio = $("#player");
                    //audio[0].pause();
                }
            });
            $("#dialogTracking").dialog("close");
            dtltbls2 = $('#orderTbl').DataTable({
                "iDisplayLength": 25,
                'columnDefs': [
                    {
                        "targets": 0, // your case first column
                        "className": "text-center",
                    },
                    {
                        "targets": 1,
                        "className": "text-center",
                    },
                    {
                        "targets": 2,
                        "className": "text-center",
                    }
                    ,
                    {
                        "targets": 3,
                        "className": "text-center",
                    }
                ]
            });
            dtltbls3 = $('#trackingTbl').DataTable({
                "iDisplayLength": 25,
                'columnDefs': [
                    {
                        "targets": 0, // your case first column
                        "className": "text-center",
                    },
                    {
                        "targets": 1,
                        "className": "text-center",
                    },
                    {
                        "targets": 2,
                        "className": "text-center",
                    }
                    ,
                    {
                        "targets": 3,
                        "className": "text-center",
                    }
                ]
            });
        });
        function openpopup(sender, article, size) {
            $("#dialog").dialog("open");
        }
        function openpopupDetail(invnum) {
                    $.ajax({
            url: '@Url.Action("getTblOrder", "CustomerMenu")',
                type: "GET",
                data: { inv_no: invnum },
                //startDate: mFromDate, endDate: mToDate1
                dataType: 'json',
                success: function (data) {
                    if (data.length != 0) {
                        debugger;
                        //$("#tbodyiddtl").empty();
                        dtltbls2.clear();
                        var x = 1;
                        data.forEach(function (item) { //insert rows
                            //var btnList = "<a onclick=\"openpopup(this, \'" + item.article + "\', \'" + item.size + "\');\" id='EditArticle" + x + "' class='btn btn-sm btn-dark'>Edit</a>&nbsp;<a onclick=\"openpopup(this, \'" + item.article + "\',  \'" + item.size + "\');\" id='DeleteArticle" + x + "' class='btn btn-sm btn-dark'>Delete</a >";
                            dtltbls2.row.add([x, invnum, item.article, item.qty, item.final_price, item.size_1, item.size_2, item.size_3, item.size_4, item.size_5, item.size_6, item.size_7, item.size_8, item.size_9, item.size_10, item.size_11, item.size_12, item.size_13]);
                            x++
                        })

                        dtltbls2.draw();
                    }

                },
                error: function () {

                }
        });
            $("#dialogOrder").dialog("open");

    }
        function openpopupTracking(invnum) {
                    $.ajax({
            url: '@Url.Action("getTblTracking", "CustomerMenu")',
                type: "GET",
                data: { inv_no: invnum },
                //startDate: mFromDate, endDate: mToDate1
                dataType: 'json',
                success: function (data) {
                    if (data.length != 0) {
                        debugger;
                        //$("#tbodyiddtl").empty();
                        dtltbls3.clear();
                        var x = 1;
                        data.forEach(function (item) { //insert rows
                            var date = moment(item.date).format("DD-MM-YYYY");
                            //var btnList = "<a onclick=\"openpopup(this, \'" + item.article + "\', \'" + item.size + "\');\" id='EditArticle" + x + "' class='btn btn-sm btn-dark'>Edit</a>&nbsp;<a onclick=\"openpopup(this, \'" + item.article + "\',  \'" + item.size + "\');\" id='DeleteArticle" + x + "' class='btn btn-sm btn-dark'>Delete</a >";
                            dtltbls3.row.add([x, invnum, item.edp, item.dus, item.pairs, item.val_price, item.sik, item.trans_no, item.driver, date, item.time]);
                            x++
                        })

                        dtltbls3.draw();
                    }

                },
                error: function () {

                }
        });
            $("#dialogTracking").dialog("open");

        }
        function openpopupDetailbyid(id) {
                    $.ajax({
            url: '@Url.Action("getTblOrderbyid", "CustomerMenu")',
                type: "GET",
                data: { id: id },
                //startDate: mFromDate, endDate: mToDate1
                dataType: 'json',
                success: function (data) {
                    if (data.length != 0) {
                        debugger;
                        //$("#tbodyiddtl").empty();
                        dtltbls2.clear();
                        var x = 1;
                        data.forEach(function (item) { //insert rows
                            //var btnList = "<a onclick=\"openpopup(this, \'" + item.article + "\', \'" + item.size + "\');\" id='EditArticle" + x + "' class='btn btn-sm btn-dark'>Edit</a>&nbsp;<a onclick=\"openpopup(this, \'" + item.article + "\',  \'" + item.size + "\');\" id='DeleteArticle" + x + "' class='btn btn-sm btn-dark'>Delete</a >";
                            dtltbls2.row.add([x, id, item.article, item.qty, item.final_price, item.size_1, item.size_2, item.size_3, item.size_4, item.size_5, item.size_6, item.size_7, item.size_8, item.size_9, item.size_10, item.size_11, item.size_12, item.size_13]);
                            x++
                        })

                        dtltbls2.draw();
                    }

                },
                error: function () {

                }
        });
            $("#dialogOrder").dialog("open");

    }

</script>
}
