@model BataAppHR.Models.rekapFront
@{
    ViewData["Title"] = "Form Data Trainer";

    var isAdmin = User.IsInRole("Admin").ToString();
    var typecode = ViewData["TypeCode"];
    var errors = Model.error;
}

<style>
    #myPopup {
        display: none;
        position: absolute;
        top: 50px;
        right: 50%;
        background-color: blue;
        height: 100px;
        width: 100px;
    }

    #myExit {
        position: absolute;
        right: 0px;
        text-align: right;
        color: white;
        background-color: red;
    }

    .btn-primary2 {
        color: #ffffff;
        background-color: #000000;
        border-color: #000000 !important
    }

        .btn-primary2:hover {
            color: #fff;
            background-color: #be0000;
            border-color: #be0000 !important
        }
</style>
<p>
</p>

<div class="container" id="bootstrap-overrides">
    <div class="row">
        <div class="col-sm align-self-end">
            <table>
                <tr>
                    <td>
                        <a asp-action="Create" class="btn btn-dark">Input Data Baru</a>
                    </td>
                    <td>
                        <a href="#/" onclick="openpopupUpload(this,'')" id="UploadPeserta" class="btn btn-dark">Upload Rekap Training</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm">
            @*<form asp-action="Index" id="ReloadIndex" method="post">

        </form>*@
            @if (User.IsInRole("Admin"))
            {
                <label><b>Pilih tipe training: </b></label>
                @Html.DropDownList("Type", new List<SelectListItem>
                                 {
                                     new SelectListItem{ Text="Head Office", Value = "Head Office" },
                                     new SelectListItem{ Text="Instore", Value = "Instore" },
                                     new SelectListItem{ Text="Online", Value = "Online" },
                                     new SelectListItem{ Text="Chatbased", Value = "Chatbased" },
                                     new SelectListItem{ Text="Inclass", Value = "Inclass" },
                                     new SelectListItem{ Text="Inhouse", Value = "Inhouse" },
                                     new SelectListItem{ Text="Others", Value = "Others" }
                                  }, new { @class = "form-control" })
                <br />
                <br />
                
                <input type="button" value="Cari Data" onclick="PopulateTable()" class="btn btn-dark" />
                <input type="button" value="Reset" onclick="Clear()" class="btn btn-dark" />

            }

            @*<a asp-controller="FormVaksin" asp-action="Index" class="btn btn-dark" id="ReloadIndex"> Submit</a>*@
        </div>

    </div>
</div>
<br />

<table class="table table-striped" id="IndexTbl">
    <thead>
        <tr>
            <th>
                Training Date
            </th>
            <th>
                Form Id
            </th>
            <th>
                Type
            </th>
            <th>
                Program
            </th>
            <th>
                Detail
            </th>
            <th>
                Batch
            </th>
            <th>
                EDP
            </th>
            <th>
                Periode
            </th>
            <th>
                Week
            </th>

            <th>
                Participant
            </th>
            <th>
                Trainer
            </th>
            <th>
                No Participant
            </th>
            <th>
                Training Days
            </th>
            <th>
                Hours
            </th>
            <th>
                Detail
            </th>
            <th>
                <label>Actions</label>
            </th>
        </tr>
    </thead>
    <tbody id="tbodyid">

        @foreach (var dt in Model.rekapTrainingfixed)
        {
        <tr>
            @if (dt.Date != null)
            {
                <td data-order="@dt.Date.Value.ToString("MMddyyyyHHmmss")">
                    @Html.DisplayFor(modelItem => dt.Date)

                </td>
            }
            else
            {

                <td>
                    @Html.DisplayFor(modelItem => dt.Date)

                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => dt.TRN_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dt.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dt.Program)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dt.ProgramTxt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dt.Batch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dt.EDP)

            </td>
            <td>
                @Html.DisplayFor(modelItem => dt.Periode)

            </td>
            <td>
                @Html.DisplayFor(modelItem => dt.Week)

            </td>

            <td>
                @Html.DisplayFor(modelItem => dt.Participant)

            </td>
            <td>
                @Html.DisplayFor(modelItem => dt.Trainer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dt.NoParticipant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dt.TrainingDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dt.Hours)
            </td>
            <td>
                <a href="#" onclick="openpopup('@dt.TRN_ID')" class="btn btn-sm btn-dark">Lihat Detail</a>
            </td>
            <td>
                <div>
                    <a asp-action="Edit" asp-route-id="@dt.id" class="btn btn-sm btn-dark">Edit</a>
                    &nbsp;
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@dt.id" class="btn btn-sm btn-dark">Delete</a>

                    }
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
<div id="dialog" title="Participants">
    <center>
        <div class="container" style="width:500px;height:500px;">
            <div class="row">
                <div class="col-sm">
                    <table class="table table-striped" id="ParticipantsTbl">
                        <thead>
                            <tr>
                                <th>no.</th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Present
                                </th>
                                <th>
                                    Nilai
                                </th>
                                <th>
                                    Sertifikat
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbodyid2">

                        </tbody>
                    </table>
                </div>
            </div>
          
        </div>
    </center>


</div>
<div id="dialogUpload" title="Upload Peserta">
    <center>
        <form asp-action="UploadPesertaAll" id="formdtlupload" enctype="multipart/form-data">
            <div class="container" style="width:100%;height:100%;">
                <div class="row">
                    <div class="form-group">
                        <table>
                            <tr>
                                <td>
                                    <label class="control-label">Upload: </label>
                                </td>
                                <td style="padding-left:50%">
                                    <input type="file" asp-for="fileUploadPeserta" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="button" value="Upload peserta" onclick="alertfirstupl(this)" class="btn btn-red" />

                    </div>
                </div>
            </div>
        </form>
    </center>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
    var tableDtl;
    var IndexTbl;
    $(document).ready(function () {
        var msg = '@errors';
        if (msg != '' && msg != 'null') {
            alert(msg);
        }
        $("#dialogUpload").dialog({
            width: 450,
            height: 410,
            modal: true,
            resizable: false,
            close: function () {
                //var audio = $("#player");
                //audio[0].pause();
            }
        });
        $("#dialogUpload").dialog("close");
        $("#Type").select2({ placeholder: "Select Type" });
        $("#Type").val(null);
        $("#Type").trigger('change');
        var type = '@typecode';
        if (type != "" && type != "null"){
             $("#Type").val(type);
            $("#Type").trigger('change');
        }
            IndexTbl = $('#IndexTbl').DataTable({
                stateSave: true,
                "order": [[0, "desc"]],
                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 10
            });
            tableDtl = $('#ParticipantsTbl').DataTable({
                "iDisplayLength": 25,
                'columnDefs': [
                    {
                        "targets": 0, // your case first column
                        "className": "text-center",
                    },
                    {
                        "targets": 1,
                        "className": "text-center",
                    },
                     {
                        "targets": 2,
                        "className": "text-center",
                    },
                    {
                        "targets": 3,
                        "className": "text-center",
                    },
                    {
                        "targets": 4,
                        "className": "text-center",
                    }
                ]
            });
            $("#dialog").dialog({
                width: 550,
                height: 560,
                modal: true,
                resizable: false,
                close: function () {
                    //var audio = $("#player");
                    //audio[0].pause();
                }
            });
            $("#dialog").dialog("close");
        });
        function openpopup(trnid) {
            //$("#tbodyid2").empty();
            tableDtl.clear();
            $.ajax({
                url: '@Url.Action("getTbl", "RekapTraining")',
                type: "GET",
                data: { trn_id: trnid},
                //startDate: mFromDate, endDate: mToDate1
                dataType: 'json',
                success: function (data) {
                    debugger;
                    //var tr;
                    ////Append each row to html table
                    //for (var i = 0; i < data.length; i++) {
                    //    debugger;
                    //    var number = parseInt(i) + 1;
                    //    tr = $('<tr/>');
                    //    tr.append("<td align='center'>" + number + "</td>");
                    //    tr.append("<td>" + data[i].namA_SS + "</td>");
                    //    if (data[i].ispresent == "1") {
                    //        tr.append("<td align='center'><input type='checkbox' name='checkbox1' checked disabled></td>");
                    //    } else {
                    //        tr.append("<td align='center'><input type='checkbox' name='checkbox1' disabled></td>");
                    //    }

                    //    tr.append("<td align='center'>" + data[i].nilai + "</td>");

                    //    if (data[i].sertifikat == 1) {
                    //        tr.append("<td align='center'><input type='checkbox' name='checkbox2' checked disabled></td>");
                    //    } else {
                    //        tr.append("<td align='center'><input type='checkbox' name='checkbox2' disabled></td>");
                    //    }


                    //    $('#ParticipantsTbl').append(tr);
                    //   /* location.reload();*/
                    //}
                    var x = 1;
                    data.forEach(function (item) { //insert rows
                        var chk1 = "";
                        if (item.ispresent == "1") {
                            chk1 = "<td align='center'><input type='checkbox' name='checkbox1' checked disabled></td>"
                        } else {
                            chk1 = "<td align='center'><input type='checkbox' name='checkbox1' disabled></td>";
                        }
                        var chk2 = "";
                        if (item.sertifikat == "1") {
                            chk2 = "<td align='center'><input type='checkbox' name='checkbox1' checked disabled></td>"
                        } else {
                            chk2 = "<td align='center'><input type='checkbox' name='checkbox1' disabled></td>";
                        }
                        tableDtl.row.add([x, item.namA_SS, chk1, item.nilai, chk2]);
                        x++
                    })

                    tableDtl.draw();
                },
                error: function () {

                }

            });

            $("#dialog").dialog("open");

    }
    function openpopupUpload() {
        $("#dialogUpload").dialog("open");
    }

    function alertfirstupl(sender) {
        debugger;

        if (confirm("Are you sure saving data?")) {
            $('#formdtlupload').submit();

            //SaveForm();
        } else {
            return false;
        }

    }
     function PopulateTable() {
         //$("#tbodyid").empty();
         IndexTbl.clear();
        var value = $("#Type").val();
        if (value != null) {
            $.ajax({
                url: '@Url.Action("getTblFront", "RekapTraining")',
                type: "GET",
                data: { type: value },
                //startDate: mFromDate, endDate: mToDate1
                dataType: 'json',
                success: function (data) {
                    debugger;
                    var tr;
                    //Append each row to html table
                    @*for (var i = 0; i < data.length; i++) {
                        debugger;
                        var number = parseInt(i) + 1;
                        tr = $('<tr/>');
                        tr.append("<td>" + data[i].date + "</td>");
                        tr.append("<td>" + data[i].trN_ID + "</td>");
                        tr.append("<td>" + data[i].type + "</td>");
                        tr.append("<td>" + data[i].program + "</td>");
                        tr.append("<td>" + data[i].programTxt + "</td>");
                        tr.append("<td>" + data[i].batch + "</td>");
                        tr.append("<td>" + data[i].edp + "</td>");
                        tr.append("<td>" + data[i].periode + "</td>");
                        tr.append("<td>" + data[i].week + "</td>");
                        tr.append("<td>" + data[i].participant + "</td>");
                        tr.append("<td>" + data[i].trainer + "</td>");
                        tr.append("<td>" + data[i].noParticipant + "</td>");
                        tr.append("<td>" + data[i].trainingDays + "</td>");
                        tr.append("<td>" + data[i].hours + "</td>");

                        tr.append("<td><a onclick=\"openpopup(\'" + data[i].trN_ID + "\');\" class='btn btn-sm btn-dark'>Lihat Detail</a>&nbsp;</td>");
                        var isAdmin = '@isAdmin';
                        debugger;
                        tr.append('<td><a href="/RekapTraining/Edit/' + data[i].id + '" class="btn btn-sm btn-dark">Edit</a >&nbsp;<a href="/RekapTraining/Delete/' + data[i].id + '" class="btn btn-sm btn-dark">Delete</a ></td>');

                        

                        $('#IndexTbl').append(tr);
                        /* location.reload();*/
                      
                    }*@
                    var x = 1;
                    data.forEach(function (item) { //insert rows
                        var DtlBtn = "<td><a onclick=\"openpopup(\'" + item.trN_ID + "\');\" class='btn btn-sm btn-dark'>Lihat Detail</a>&nbsp;</td>";
                        var EditDelete = '<td><a href="/RekapTraining/Edit/' + item.id + '" class="btn btn-sm btn-dark">Edit</a >&nbsp;<a href="/RekapTraining/Delete/' + item.id + '" class="btn btn-sm btn-dark">Delete</a ></td>';

                        IndexTbl.row.add([item.date, item.trN_ID, item.type, item.program, item.programTxt, item.batch, item.edp, item.periode, item.week, item.participant, item.trainer, item.noParticipant, item.trainingDays, item.hours, DtlBtn, EditDelete]);
                        x++
                    })

                    IndexTbl.draw();
                },
                error: function () {

                }

            });
        } else {
            alert('Please fill Type Code');
        }

    }
    function Clear() {
        $("#Type").val(null);
        $("#Type").trigger('change');
        $("#tbodyid").empty();
          $.ajax({
                url: '@Url.Action("getTblEmpty", "FormVaksin")',
                type: "GET",
                //startDate: mFromDate, endDate: mToDate1
                dataType: 'json',
                success: function (data) {

                },
                error: function () {

                }

            });

    }
</script>
}

