@model IEnumerable<BataAppHR.Models.VaksinModel>
@{
    ViewData["Title"] = "Form Data Vaksin";
    var edpCode = ViewData["EdpCode"];
    var SSCode = ViewData["SSCode"];

    var isAdmin = User.IsInRole("Admin").ToString();
}

<style>
    #myPopup {
        display: none;
        position: absolute;
        top: 50px;
        right: 50%;
        background-color: blue;
        height: 100px;
        width: 100px;
    }

    #myExit {
        position: absolute;
        right: 0px;
        text-align: right;
        color: white;
        background-color: red;

    }
    .btn-primary2 {
        color: #ffffff;
        background-color: #000000;
        border-color: #000000 !important
    }
    .btn-primary2:hover {
        color: #fff;
        background-color: #be0000;
        border-color: #be0000 !important
    }
    
    
</style>
<p>
</p>
<div class="container" id="bootstrap-overrides">
    <div class="row">
        <div class="col-sm align-self-end">
            <a asp-action="Create" class="btn btn-dark">Input Data Baru</a>
        </div>
        <div class="col-sm">
            @*<form asp-action="Index" id="ReloadIndex" method="post">

        </form>*@
            @if (User.IsInRole("Admin"))
            {
                <label><b>Pilih/ketik EDP untuk melihat data: </b></label>
                <select id="EdpCodeList" name="EdpCodeList"></select>
                <br />
                <br />
                <label><b>Pilih/ketik SS untuk melihat data: </b></label>
                <br />
                <select id="SSList" name="SSList" style="width:100%;"></select>
                <br />
                <br />
                <input type="button" value="Cari Data" onclick="PopulateTable()" class="btn btn-dark" /> 
                <input type="button" value="Reset" onclick="Clear()" class="btn btn-dark" />

            }

            @*<a asp-controller="FormVaksin" asp-action="Index" class="btn btn-dark" id="ReloadIndex"> Submit</a>*@
        </div>

    </div>
</div>
<br />
<table class="table table-striped" id="IndexTbl">
    <thead>
        <tr>
            <th>Num.</th>
            <th>
                SS Code
            </th>
            <th>
                Nama
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KTP)
            </th>
            <th>
                No HP
            </th>
            <th>
               Vaksin 1
            </th>
            <th>
               Vaksin 2
            </th>
            <th>
                Sertifikat Vaksin
            </th>
            <th>
                <label>Actions</label>
            </th>
        </tr>
    </thead>
    <tbody id="tbodyid">
        @{
            var i = 1;
        }
        @foreach (var dt in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.SS_CODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.NAMA_SS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.KTP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.HP_SS)

                </td>
                <td>
                    @if (dt.VAKSIN1 == "1")
                    {
                        <input type="checkbox" name="vaksin1"  checked disabled>
                    }
                    else
                    {
                        <input type="checkbox" name="vaksin1" disabled>
                    }
                    @*@Html.DisplayFor(modelItem => dt.VAKSIN1)*@
                </td>
                <td>
                    @if (dt.VAKSIN2 == "1")
                    {
                        <input type="checkbox" name="vaksin2" checked disabled>
                    }
                    else
                    {
                        <input type="checkbox" name="vaksin2" disabled>
                    }
                    @*@Html.DisplayFor(modelItem => dt.VAKSIN2)*@
                </td>
                <td>
                    <a href="#" onclick="openpopup('@dt.FOTOSERTIFIKAT1', '@dt.FOTOSERTIFIKAT2')" class="btn btn-sm btn-dark">Lihat Sertifikat</a>
                </td>
                <td>
                    <div>
                        <a asp-action="Edit" asp-route-id="@dt.ID" class="btn btn-sm btn-dark">Edit</a>
                        &nbsp;
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@dt.ID" class="btn btn-sm btn-dark">Delete</a>

                        }
                    </div>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
<div id="dialog" title="Sertifikat vaksin">
    <center>
        <div class="container" style="width:1000px;height:600px;">
            <div class="row">
                <div class="col-sm">
                    <label>Vaksin 1: </label>

                    <img id="ImageVaksin1" src="" width="878" height="598">
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <label>Vaksin 2: </label>
                    <img id="ImageVaksin2" src="" width="878" height="598">
                </div>
            </div>
        </div>
    </center>


</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
    $(document).ready(function () {
        $('#IndexTbl').DataTable();
        $("#EdpCodeList").select2({ placeholder: "Select Edp Code" });
        $("#SSList").select2({ placeholder: "Select SS", width: 'resolve' });

            $.ajax({
                type: "GET",
                url: "/FormVaksin/getdata",
                data: "{}",
                success: function (data) {
                    debugger;
                    var s = '';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].edp + '">' + data[i].edp + ' - ' + data[i].store_location +'</option>';
                    }
                    $("#EdpCodeList").html(s);
                    var edpCode = "@edpCode";
                    $("#EdpCodeList").val(null);
                    $("#EdpCodeList").trigger('change');
                    if (edpCode != "0") {
                        $("#EdpCodeList").val(edpCode).change();
                    }
                }
            });
        $.ajax({
                type: "GET",
                url: "/FormVaksin/getdataSS",
                data: "{}",
                success: function (data) {
                    debugger;
                    var s = '';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].sS_CODE + '">' + data[i].namA_SS +'</option>';
                    }
                    $("#SSList").html(s);
                    var SSCode = "@SSCode";
                    debugger;
                    $("#SSList").val(null);
                    $("#SSList").trigger('change');
                    if (SSCode != "0") {
                        $("#SSList").val(SSCode).change();
                    }
                }
            });
            $("#dialog").dialog({
                width: 1200,
                height: 600,
                modal: true,
                resizable: false,
                close: function () {
                    //var audio = $("#player");
                    //audio[0].pause();
                }
            });
            $("#dialog").dialog("close");

    });


    $('#EdpCodeList').on('change', function () {
        var value = $("#EdpCodeList").val();
        //$('#SSList').select2('data', null);
         @*$.ajax({
                type: "GET",
                url: "/FormVaksin/getdataSS",
                data: { edp: value },
                success: function (data) {
                    debugger;
                    var s = '';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].sS_CODE + '">' + data[i].namA_SS +'</option>';
                    }
                    $("#SSList").html(s);
                    $("#SSList").select2({ placeholder: "Select SS" });
                    var SSCode = "@SSCode";
                    debugger;
                    $("#SSList").val(null);
                    $("#SSList").trigger('change');
                    if (SSCode != "0") {
                        $("#SSList").val(SSCode).change();
                    }
                }
            });*@
    });
    $('#SSList').on('change', function () {
        if ($('#SSList').val() != null && $('#SSList').val() != "") {
            var data = $('#SSList').select2('data')[0].text;
            var edp = data.substring(0, 5);
            debugger;

            $("#EdpCodeList").val(edp);
            $("#EdpCodeList").trigger('change');
        }
    });
    function openpopup(link1, link2) {
        debugger;
        //var audio = $("#player");
        var imgctrl1 = $("#ImageVaksin1");
        var imgctrl2 = $("#ImageVaksin2");
        var iPhotoUrl1 = "/UploadsVaksin1/" + link1;
        var iPhotoUrl2 = "/UploadsVaksin2/" + link2;

        imgctrl1.attr("src", iPhotoUrl1);
        imgctrl2.attr("src", iPhotoUrl2);
        //alert(link);
        //popup = document.getElementById("myPopup");
        //popup.style.display = "block";
        $("#dialog").dialog("open");
        //$("#mp3_src").attr("src", link);
        //audio[0].pause();
        //audio[0].load();//suspends and restores all audio element

        ////audio[0].play(); changed based on Sprachprofi's comment below
        //audio[0].oncanplaythrough = audio[0].play();


    }
    function PopulateTable() {
        $("#tbodyid").empty();
        var value = $("#EdpCodeList").val();
        var value2 = $("#SSList").val();
        if (value != null && value != "") {

            $.ajax({
                url: '@Url.Action("getTbl", "FormVaksin")',
                type: "GET",
                data: { id: value, sscode: value2 },
                //startDate: mFromDate, endDate: mToDate1
                dataType: 'json',
                success: function (data) {
                    debugger;
                    var tr;
                    //Append each row to html table
                    for (var i = 0; i < data.length; i++) {
                        debugger;
                        var number = parseInt(i) + 1;
                        tr = $('<tr/>');
                        tr.append("<td>" + number + "</td>");
                        tr.append("<td>" + data[i].sS_CODE + "</td>");
                        tr.append("<td>" + data[i].namA_SS + "</td>");
                        tr.append("<td>" + data[i].ktp + "</td>");
                        tr.append("<td>" + data[i].hP_SS + "</td>");
                        if (data[i].vaksiN1 == "1") {
                            tr.append("<td><input type='checkbox' name='vaksin1' checked disabled></td>");
                        } else {
                            tr.append("<td><input type='checkbox' name='vaksin1' disabled></td>");
                        }
                        if (data[i].vaksiN2 == "1") {
                            tr.append("<td><input type='checkbox' name='vaksin2' checked disabled></td>");
                        } else {
                            tr.append("<td><input type='checkbox' name='vaksin2' disabled></td>");
                        }
                        //tr.append("<td>" + data[i].vaksiN2 + "</td>");
                        tr.append("<td><a onclick=\"openpopup(\'" + data[i].fotosertifikaT1 + "\', \'" + data[i].fotosertifikaT2 + "\');\" class='btn btn-sm btn-dark'>Lihat Sertifikat</a>&nbsp;</td>");
                        var isAdmin = '@isAdmin';
                        debugger;
                        if (isAdmin == "True")
                        {
                            tr.append('<td><a href="/FormVaksin/Edit/' + data[i].id + '" class="btn btn-sm btn-dark">Edit</a >&nbsp;<a href="/FormVaksin/Delete/' + data[i].id + '" class="btn btn-sm btn-dark">Delete</a ></td>');
                        }
                        else
                        {
                            tr.append('<td><a href="/FormVaksin/Edit/' + data[i].id + '" class="btn btn-sm btn-dark">Edit</a >');
                        }
                        //tr.append('<button type="button" asp-action="Edit" asp-route-id="' + data[i].id + '" class="btn btn-primary";">Delete</button>');
                        //tr.append("")
                        //tr.append("<a asp-action='Edit' asp-route-id='" + data[i].id + "' class='btn btn - primary'>Edit</a>");
                        //tr.append("<a asp-action='Delete' asp-route-id='" + data[i].id + "' class='btn btn - primary'>Delete</a>");
                        //tr.append("");

                        $('#IndexTbl').append(tr);
                       /* location.reload();*/
                    }
                },
                error: function () {

                }

            });
        } else {
            alert('Please fill EDP Code');
        }

    }
    function Clear() {
        $("#EdpCodeList").val(null);
        $("#EdpCodeList").trigger('change');
        $("#SSList").val(null);
        $("#SSList").trigger('change');
        $("#tbodyid").empty();
          $.ajax({
                url: '@Url.Action("getTblEmpty", "FormVaksin")',
                type: "GET",
                //startDate: mFromDate, endDate: mToDate1
                dataType: 'json',
                success: function (data) {
                   
                },
                error: function () {

                }

            });

    }
</script>
}

